<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>公司申请</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="administrator_header :: administrator_header"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <table class="layui-table" lay-data="{height:'full', url:'/administrator/check-application', page:true, id:'test', even:true}" lay-filter="roles">
                <thead>
                <tr>
                    <th lay-data="{align: 'center', field:'id', width:110, sort: true, rowspan: 2, unresize:true}">ID</th>
                    <th lay-data="{align: 'center', field:'fullname', rowspan: 2, unresize:true}">公司全称</th>
                    <th lay-data="{align: 'center', colspan: 3, unresize:true}">公司类别</th>
                    <th lay-data="{align: 'center', colspan: 2, unresize:true}">位置信息</th>
                    <th lay-data="{align: 'center', field:'checkStateType', width:90, rowspan: 2, unresize:true}">审核状态</th>
                    <th lay-data="{align: 'center', width:120, toolbar: '#barDemo', rowspan: 2, unresize:true}">操作</th>
                </tr>
                <tr>

                    <th lay-data="{align: 'center', field:'nature', width:120, sort: true, unresize:true}">公司性质</th>
                    <th lay-data="{align: 'center', field:'industryInvolved', width:120, sort: true, unresize:true}">所属行业</th>
                    <th lay-data="{align: 'center', field:'workerNumber', width:120, sort: true, unresize:true}">公司规模</th>

                    <th lay-data="{align: 'center', field:'province', width:120, sort: true, unresize:true}">公司所在地</th>
                    <th lay-data="{align: 'center', field:'city', width:120, sort: true, unresize:true}">公司所在市</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail" onclick="">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="check">审核</a>
</script>
<script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<script>
    
    function updateCheckStateType(id, checkStateType) {
//        alert("updateCheckStateType");
        $.post("/administrator/check-application",
            {
                enterpriseId: id,
                checkStateType: checkStateType
            },
            function(data,status){
//                alert("Data: " + data + "\nStatus: " + status);
                if (data.message != null) {
                    toastr.success(data.message);
                } else if (data.errorMessage != null) {
                    toastr.error(data.errorMessage);
                }
                layui.table.reload('test', {
                    url: '/administrator/check-application'
                    ,where: {} //设定异步数据接口的额外参数
                });
            });
    }
    //监听工具条
    layui.table.on('tool(roles)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        var layer = layui.layer;
        if(layEvent === 'detail'){ //查看
            //do somehing
            layer.open({
                type: 2,
                content: 'http://localhost:8080/administrator/get-enterprise-by-id?enterpriseId='+ data.id,
                area: ['500px', '300px']
            });
        } else if(layEvent === 'check'){
            layer.open({
                content: '审核通过？'
                ,btn: ['是', '否']
                ,yes: function(index, layero){
//                    alert("审核通过");
                    //按钮【按钮一】的回调
                    updateCheckStateType(data.id, 2);
                    layer.close(index);
                }
                ,btn2: function(index, layero){
//                    alert("审核不通过");
                    //按钮【按钮二】的回调
                    updateCheckStateType(data.id, 3);
                    layer.close(index);
                    //return false 开启该代码可禁止点击该按钮关闭
                }
                ,cancel: function(){
                    //右上角关闭回调

                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        }
    });


</script>
<link th:href="@{~/css/toastr.min.css}" rel="stylesheet" />
<script th:src="@{~/js/toastr.min.js}"></script>
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
        }
    +]*/
</script>
</body>
</html>