<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>校招</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>
    <style>
        #myInput {
            background-image: url('https://static.runoob.com/images/mix/searchicon.png'); /* 搜索按钮 */
            background-position: 10px 12px; /* 定位搜索按钮 */
            background-repeat: no-repeat; /* 不重复图片*/
            font-size: 16px; /* 加大字体 */
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="undergraduate_header :: undergraduate_header"></div>
    <div th:replace="undergraduate_campus_recruitment_nav_tree :: undergraduate_campus_recruitment_nav_tree"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div style="margin-bottom:10px">
                <h1>校园招聘查询系统</h1>
            </div>
            <blockquote class="layui-elem-quote">
                <form class="layui-form">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="搜索 公司/职位">
                </form>
            </blockquote>
            <blockquote class="layui-elem-quote">
                <form class="layui-form">
                    <select lay-filter="province_filter">
                        <option value="">不限</option>
                        <tr th:each="provinceType : ${session.provinces}">
                            <option th:value="${provinceType.type}"><span th:text="${provinceType.name}"></span>
                            </option>
                        </tr>
                    </select>
                </form>
            </blockquote>
            <table class="layui-table" id="campus_recruitment_table" lay-filter="roles">
            </table>
            <i class="layui-icon">&#xe60c;</i>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="collect">收藏</a>
</script>
<script th:src="@{~/js/toastr.min.js}"></script>
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
            toastr.cancel();
        }
    +]*/
</script>
<script th:inline="javascript">
    //监听工具条
    layui.table.on('tool(roles)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        var layer = layui.layer;
        if (layEvent === 'detail') { //查看
            window.location.href = 'http://localhost:8080/visitor/get-campus-recruitment-by-id?campusRecruitmentId=' + data.id;
        } else if (layEvent == 'collect') {
            if ([[${session.undergraduatePo}]] == null) {
                window.location.href = 'http://localhost:8080/visitor/login?errorMessage=' + "您还未登录";
            } else {
                $.post("/undergraduate/add-collect",
                    {
                        type: 2,
                        campusRecruitmentId: data.id,
                    },
                    function (data, status) {
                        if (data.message != null) {
                            toastr.success(data.message);
                        } else if (data.errorMessage != null) {
                            toastr.error(data.errorMessage);
                        }
                    }
                );
            }
        }
    });
//    alert([[${jobCategoryType}]]);
    if ([[${jobCategoryType}]] != 0) {
        layui.table.render({
            elem: '#campus_recruitment_table',
            height: 'full',
            url: '/visitor/list-campus-recruitment-by-professional-dto',
            even: true,
            page:true,
            cols: [[ //表头
                {align: 'center', field: 'title', unresize: true, title: '公司标题'},
                {align: 'center', field: 'professionalVoList', unresize: true, templet: '#job_name_s', title: '招聘职位'},
                {align: 'center', field: 'workplace', width: 200, unresize: true, title: '涉及城市'},
                {align: 'center', field: 'releaseTime', width: 200, sort: true, unresize: true, title: '发布时间'},
                {align: 'center', toolbar: '#barDemo', unresize: true, title: '操作'}
            ]],
            where: {
                jobCategoryType:[[${jobCategoryType}]]
            }
        });
    } else {
        layui.table.render({
            elem: '#campus_recruitment_table',
            height: 'full',
            url: '/visitor/list-campus-recruitment-by-professional-dto',
            even: true,
            page:true,
            cols: [[ //表头
                {align: 'center', field: 'title', unresize: true, title: '公司标题'},
                {align: 'center', field: 'professionalVoList', unresize: true, templet: '#job_name_s', title: '招聘职位'},
                {align: 'center', field: 'workplace', width: 200, unresize: true, title: '涉及城市'},
                {align: 'center', field: 'releaseTime', width: 200, sort: true, unresize: true, title: '发布时间'},
                {align: 'center', toolbar: '#barDemo', unresize: true, title: '操作'}
            ]],
            where: {}
        });
    }

    function myFunction() {
        var key = $("#myInput").val();
        layui.table.reload('campus_recruitment_table', {
            url: '/visitor/list-campus-recruitment-by-dto',
            where: {
                province: [[${session.province.type}]],
                key: key
            },
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    }

    layui.form.on('select(province_filter)', function (data) {
        console.log(data);
        layui.table.reload('campus_recruitment_table', {
            url: '/visitor/list-campus-recruitment-by-dto',
            where: {
                province: data.value,
            },
            page: {
                curr: 1 //重新从第 1 页开始
            }
        });
    });
</script>
<script th:inline="javascript" type="text/html" id="job_name_s">
    {{#
    var jobNames = '';
    layui.each(d.professionalVoList, function(index, item){
    jobNames = jobNames + item.name;
    jobNames = jobNames + ',';
    });
    return jobNames.substr(0, jobNames.length-1);
    }}
</script>
</body>
</html>