<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宣讲会</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>
    <style>
        #myInput {
            background-image: url('https://static.runoob.com/images/mix/searchicon.png'); /* 搜索按钮 */
            background-position: 10px 12px; /* 定位搜索按钮 */
            background-repeat: no-repeat; /* 不重复图片*/
            font-size: 16px; /* 加大字体 */
            padding: 12px 20px 12px 40px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="undergraduate_career_talk_header :: undergraduate_career_talk_header"></div>
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div style="margin-bottom:10px">
                <h1>宣讲会查询系统</h1>
            </div>
            <blockquote class="layui-elem-quote">
                <form class="layui-form">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="搜索 宣讲会">
                </form>
            </blockquote>
            <table class="layui-table" id="career_talk_table"  lay-filter="roles">
            </table>
        </div>
    </div>
    <div th:replace="footer :: footer"></div>
</div>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="collect">收藏</a>
</script>
<script th:src="@{~/js/toastr.min.js}"></script>
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
        }
    +]*/
</script>
<script th:inline="javascript">
    //监听工具条
    layui.table.on('tool(roles)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        var layer = layui.layer;
        if (layEvent === 'detail') { //查看
            window.location.href = 'http://localhost:8080/visitor/get-career-talk-by-id?careerTalkId=' + data.id;
        } else if (layEvent == 'collect') {
            if ([[${session.undergraduatePo}]] == null) {
                window.location.href = 'http://localhost:8080/visitor/login?errorMessage=' + "您还未登录";
            } else {
                $.post("/undergraduate/add-collect",
                    {
                        type: 1,
                        careerTalkId: data.id,
                    },
                    function (data, status) {
                        if (data.message != null) {
                            toastr.success(data.message);
                        } else if (data.errorMessage != null) {
                            toastr.error(data.errorMessage);
                        }
                    }
                );
            }
        }
    });

    if([[${session.school}]] != ''){
        layui.table.render({
            elem: '#career_talk_table',
            height:'full',
            url:'/visitor/list-career-talk-by-dto',
            even:true,
            page:true,
            cols: [[ //表头
                {align: 'center', field:'name', sort: true, unresize:true, rowspan: 2, title: '公司标题'},
                {align: 'center', field:'school', width:120, sort: true, unresize:true, rowspan: 2, title: '举办学校'},
                {align: 'center', colspan: 2, unresize:true, title: '举办时间'},
                {align: 'center', field:'location', width:120, unresize:true, rowspan: 2, title: '举办地点'},
//            {align: 'center', field:'hits', width:100, sort: true, unresize:true, rowspan: 2, title: '点击量'},
                {align: 'center', field:'createTime', width:200, sort: true, unresize:true, rowspan: 2, title: '发布时间'},
                {align: 'center', toolbar: '#barDemo', unresize: true, rowspan: 2, title: '操作'}
            ],[
                {align: 'center', field:'startTime', width:200, sort: true, unresize:true, title: '开始时间'},
                {align: 'center', field:'endTime', width:200, sort: true, unresize:true, title: '结束时间'}
            ]],
            where: {
                province: [[${session.province.type}]],
                school: [[${session.school}]]
            }
        });
    }else{
        layui.table.render({
            elem: '#career_talk_table',
            height:'full',
            url:'/visitor/list-career-talk-by-dto',
            even:true,
            page:true,
            cols: [[ //表头
                {align: 'center', field:'name', sort: true, unresize:true, rowspan: 2, title: '公司标题'},
                {align: 'center', field:'school', width:120, sort: true, unresize:true, rowspan: 2, title: '举办学校'},
                {align: 'center', colspan: 2, unresize:true, title: '举办时间'},
                {align: 'center', field:'location', width:120, unresize:true, rowspan: 2, title: '举办地点'},
//            {align: 'center', field:'hits', width:100, sort: true, unresize:true, rowspan: 2, title: '点击量'},
                {align: 'center', field:'createTime', width:200, sort: true, unresize:true, rowspan: 2, title: '发布时间'},
                {align: 'center', toolbar: '#barDemo', unresize: true, rowspan: 2, title: '操作'}
            ],[
                {align: 'center', field:'startTime', width:200, sort: true, unresize:true, title: '开始时间'},
                {align: 'center', field:'endTime', width:200, sort: true, unresize:true, title: '结束时间'}
            ]],
            where: {
                province: [[${session.province.type}]]
            }
        });
    }
    function myFunction(){
        var key = $("#myInput").val();
        if([[${session.school}]] != ''){
            layui.table.reload('career_talk_table', {
                url: '/visitor/list-career-talk-by-dto',
                where: {
                    province: [[${session.province.type}]],
                    key: key,
                    school: [[${session.school}]]
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }else{
            layui.table.reload('career_talk_table', {
                url: '/visitor/list-career-talk-by-dto',
                where: {
                    province: [[${session.province.type}]],
                    key: key
                },
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        }
    }
</script>
</body>
</html>