<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/jquery-validation-1.14.0/demo/site-demos.css}">
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet" />
    <script th:src="@{~/js/toastr.min.js}"></script>
</head>
<body style="padding: 200px">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a th:href="@{/visitor/index}">
                <img th:src="@{~/img/logo-b.png}" alt="通用的占位符缩略图" height="50px" width="150px"/>
            </a>
        </div>
        <div class="navbar-header" style="margin-left: 10px">
            <a class="navbar-brand">欢迎回来</a>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        旗下平台 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/visitor/campus-recruitment}" class="text-center">校招</a></li>
                        <li class="divider"></li>
                        <li><a th:href="@{/visitor/career-talk}" class="text-center">宣讲会</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/visitor/index}">返回首页</a></li>
            </ul>
        </div>
    </div>
</nav>
<div style="padding-left: 10%; padding-right: 10%;">
    <h2 class="text-center">验证身份</h2>
    <br>
    <form role="form" th:action="@{/visitor/reset-password}" method="post" id="check_identity">
        <div class="col-sm-6 col-sm-offset-3 row">
            <b><p th:text="'验证码已发送到邮箱：' + ${session.emailKey}" class="col-sm-12"></p></b>
        </div>
        <br>
        <br>
        <div class="col-sm-6 col-sm-offset-3 row">
            <input class="col-xs-8" type="text" id="code" name="code" placeholder="请输入验证码">
            <input type="button" class="btn btn-default col-xs-3" style="margin-left: 5px" id="reacquire" value="重新获取">
        </div>
        <br>
        <br>
        <div class="col-sm-6 col-sm-offset-3 row">
            <button type="submit" class="btn btn-default col-sm-11">下一步</button>
        </div>
    </form>
</div>
<script th:src="@{~/jquery-validation-1.14.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{~/jquery-validation-1.14.0/dist/additional-methods.min.js}"></script>
<script th:inline="javascript">
    jQuery.validator.setDefaults({
        success: "valid",
        debug: false
    });
    $("#check_identity").validate({
        errorPlacement: function(error, element) {
            error.insertAfter(element.parent());
            error.css("margin-top", "10px");
        },
        rules: {
            code:{
                required : true,
                rangelength: [10,10]
            }
        },
        messages:{
            code:{
                required : "请输入验证码",
                rangelength: "验证码无效"
            }
        }
    });
    $("#reacquire").click(function(){
        $.post("/visitor/re-check-identity",
            {
                email:[[${session.emailKey}]]
            },
            function(data,status){
                if (data.message != null) {
                    toastr.success(data.message);
                } else if (data.errorMessage != null) {
                    toastr.error(data.errorMessage);
                }
            });
    });
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
</script>
<style>
    #code {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
</style>
</body>
</html>