<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/jquery-validation-1.14.0/demo/site-demos.css}">
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>
    <script th:src="@{~/js/toastr.min.js}"></script>
    <title>企业注册</title>
</head>
<body style="padding: 100px">
<div style="float: none; display: inline-block; vertical-align: middle; horiz-align: center"
     class="col-md-8 col-sm-offset-2 text-center">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">企业后台</a>
            </div>
            <div>
                <a th:href="@{/enterprise/login}" class="btn btn-default navbar-btn navbar-right"
                   style="margin-right: 20px">
                    <span class="glyphicon glyphicon-log-in"></span> 登录
                </a>
            </div>
            <div>
                <a th:href="@{/enterprise/pre-register}" class="btn btn-default navbar-btn navbar-right"
                   style="margin-right: 20px">
                    <span class="glyphicon glyphicon-user"></span> 注册
                </a>
            </div>
        </div>
    </nav>
    <div>
        <form id="register" class="form-horizontal" th:action="@{/enterprise/register}" method="post" enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        企业账户注册
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="control-label col-xs-2">用户名</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control"
                                   name="userName" maxlength="30" placeholder="由字母开头的数字、字母或下划线组成">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">密码</label>
                        <div class="col-xs-6">
                            <input type="password" class="form-control" id="password"
                                   name="password" maxlength="32" placeholder="4位以上英文或数字">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2">重复密码</label>
                        <div class="col-xs-6">
                            <input type="password" id="passworded" class="form-control"
                                   name="passworded" maxlength="32" placeholder="重复上述密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" >绑定邮箱</label>
                        <div class="col-xs-6">
                            <input type="email" class="form-control"
                                   name="email" maxlength="50" placeholder="请使用贵公司域名后缀邮箱或常用招聘邮箱">
                        </div>
                    </div>
                    <div class="col-xs-12 col-xs-offset-2">
                        <p>
                            <button type="submit" class="btn btn-primary">确认注册</button>
                            &nbsp&nbsp已经注册过大学生求职网?直接<a th:href="@{/enterprise/login}">登录</a>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- /.blank-box -->
    <ul class="nav navbar-nav navbar-fixed-bottom" style="left: 43.5%">
        <li class="">
            <a th:href="@{/undergraduate/index}">首页</a>
        </li>
        <li class="">
            <a th:href="@{/undergraduate/campus-recruitment}">校招</a>
        </li>
        <li class="">
            <a th:href="@{/undergraduate/career-talk}">宣讲会</a>
        </li>
    </ul>
</div>
<script th:src="@{~/jquery-validation-1.14.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{~/jquery-validation-1.14.0/dist/additional-methods.min.js}"></script>
<script th:inline="javascript">
    jQuery.validator.setDefaults({
        success: "valid",
        debug: false
    });
    // 用户名验证
    jQuery.validator.addMethod("isUserName", function(value, element) {
        var regex = /^[a-zA-Z][a-zA-Z0-9_]*$/;
        return this.optional(element) || (regex.test(value));
    }, "请正确填写您的用户名");
    // 密码验证
    jQuery.validator.addMethod("isPassword", function(value, element) {
        var regex = /^[a-zA-Z0-9]*$/;
        return this.optional(element) || (regex.test(value));
    }, "请正确填写您的密码");
    $("#register").validate({
        errorPlacement: function (error, element) {
            error.insertAfter(element.parent());
            error.css("margin-top", "10px");
        },
        rules: {
            userName:{
                required: true,
                minlength: 4,
                isUserName: true
            },
            password: {
                required: true,
                rangelength: [4, 32],
                isPassword: true
            },
            passworded: {
                required: true,
                equalTo: "#password"
            },
            email:{
                required : true,
                email:true
            }
        },
        messages: {
            userName:{
                required: "用户名不能为空",
                minlength: "用户名至少要4个字符"
            },
            password: {
                required: "请输入新密码",
                rangelength: "长度介于 {0} 和 {1} 之间"
            },
            passworded: {
                required: "请再次输入新密码",
                equalTo: "请再次输入相同的值"
            },
            email:{
                required : "请输入新邮箱",
                email: "请输入一个有效的邮箱"
            }
        }
    });
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.clear();
        }
    +]*/
</script>
</body>
</html>