<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>招聘岗位主页</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="enterprise_header :: enterprise_header"></div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <blockquote class="layui-elem-quote">
                <a class="layui-btn layui-btn-small" th:href="@{/enterprise/add-professional}">添加</a>
            </blockquote>
            <table class="layui-table"
                   lay-data="{height:'full', url:'/enterprise/list-professional', page:true, id:'test', even:true}"
                   lay-filter="roles">
                <thead>
                <tr class="layui-colla-item">
                    <th lay-data="{align: 'center', field:'type', width:120, sort: true, unresize:true}">职位类别</th>
                    <th lay-data="{align: 'center', field:'name', width:120, sort: true, unresize:true}">招聘职位</th>
                    <th lay-data="{align: 'center', field:'hiring', width:120, sort: true, unresize:true}">招聘人数</th>
                    <th lay-data="{align: 'center', field:'educationBackground', width:200, sort: true, unresize:true}">
                        学历要求
                    </th>
                    <th lay-data="{align: 'center', field:'majorField', width:200, sort: true, unresize:true}">专业要求</th>
                    <th lay-data="{align: 'center', field:'workplace', width:200, sort: true, unresize:true}">工作地点</th>
                    <th lay-data="{align: 'center', toolbar: '#barDemo', unresize:true}">操作</th>
                </tr>
                </thead>
            </table>
            <i class="layui-icon">&#xe60c;</i>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit" >编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script th:src="@{~/js/toastr.min.js}"></script>
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
            toastr.cancel();
        }
    +]*/
</script>
<script>
    //监听工具条
    layui.table.on('tool(roles)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        var layer = layui.layer;
        if(layEvent === 'detail'){ //查看
            $.get("/enterprise/check-get-professional-by-id?professionalId="+ data.id,
                function (result, status) {
                    console.log("Data: " + result + "\nStatus: " + status);
                    var json = result;
                    if (json.errorMessage != null) {
                        toastr.error(json.errorMessage);
                    } else {
                        console.log(data.id);
                        //do somehing
                        layer.open({
                            title: ['详情', 'font-size:18px;'],
                            type: 2,
                            content: 'http://localhost:8080/enterprise/get-professional-by-id?professionalId='+ data.id,
                            area: ['500px', '600px']
                        });
                    }
                });
        }else if (layEvent === 'edit') {
            window.location.href = 'http://localhost:8080/enterprise/update-professional?professionalId='+ data.id;
        } else if (layEvent === 'del') {
            layer.confirm('您真的要删除吗？', function (index) {
//                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                layer.close(index);
                //向服务端发送删除指令
                console.log(data.id);
                $.post("/enterprise/delete-professional",
                    {
                        professionalId: data.id
                    },
                    function (data, status) {
                        if (data.message != null) {
                            toastr.success(data.message);
                        } else if (data.errorMessage != null) {
                            toastr.error(data.errorMessage);
                        }
                        layui.table.reload('test', {
                            url: '/enterprise/list-professional'
                            , where: {} //设定异步数据接口的额外参数
                            //,height: 300
                        });
                    });
            });
        }
    });
</script>
</body>
</html>
