<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>企业信息详情</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/jquery-validation-1.14.0/demo/site-demos.css}">
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>
    <script th:src="@{~/js/toastr.min.js}"></script>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
</head>
<body style="padding: 60px">
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                公司名称
            </h3>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label class="control-label col-xs-4">公司全称</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.fullname}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">公司简称</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.shortname}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">机构代码</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.orgCode}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">公司简介</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.recommend}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                公司类别
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-4">公司性质</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.nature}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">所属行业</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.industryInvolved}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">公司规模</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.workerNumber}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                联络信息
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-4">联系人</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.name}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">手机号码</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.phone}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">公司座机</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.telephone}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">官方网站</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.homepageUrl}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                位置信息
            </h3>
        </div>
        <div class="panel-body">
            <div>
                <div class="form-group">
                    <label class="control-label col-xs-4">公司所在地</label>
                    <div class="col-xs-8">
                        <p th:text="${enterpriseVo.province}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-4">公司所在市</label>
                    <div class="col-xs-8">
                        <p th:text="${enterpriseVo.city}"></p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-4">公司地址</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.address}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-4">邮编</label>
                <div class="col-xs-8">
                    <p th:text="${enterpriseVo.postcode}"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                营业执照
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label class="control-label col-xs-4">营业执照</label>
                <div class="col-xs-8" id="layer-photos-demo">
                    <img th:src="@{'~/' + ${enterpriseVo.license} }" width="150px" onclick="enlargeImage(this);">
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script th:src="@{~/jquery-validation-1.14.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{~/jquery-validation-1.14.0/dist/additional-methods.min.js}"></script>
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.clear();
        }
    +]*/
</script>
<script>
    //调用示例
    layui.layer.photos({
        photos: '#layer-photos-demo'
        ,anim: 5 //0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
    });
</script>
</body>
</html>