<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加校招网申</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" th:href="@{~/select/css.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/select/alpha.css}"/>

    <script type="text/javascript" th:src="@{~/select/drag.js}"></script>
    <script type="text/javascript" th:src="@{~/select/city_arr.js}"></script>
    <script type="text/javascript" th:src="@{~/select/nationality_arr.js}"></script>
    <script type="text/javascript" th:src="@{~/select/funtype_arr.js}"></script>
    <script type="text/javascript" th:src="@{~/select/industry_arr.js}"></script>
    <script type="text/javascript" th:src="@{~/select/major_arr.js}"></script>

    <script type="text/javascript" th:src="@{~/tags/js/tag.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{~/tags/css/tag.css}" />
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">企业后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a class="" th:href="@{/enterprise/career-talk-index}">宣讲会</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/enterprise/enterprise-campus-recruitment-index}">校招网申</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/enterprise/enterprise-professional-index}">招聘岗位</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span th:text="${session.userName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/enterprise/logout}">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a th:href="@{/enterprise/career-talk-index}">宣讲会</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/enterprise/enterprise-campus-recruitment-index}">校招网申</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/enterprise/enterprise-professional-index}">招聘岗位</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-row" style="padding: 15px;">
            <div class="layui-col-md9">
                <form class="layui-form" th:action="@{/enterprise/add-campus-recruitment}" method="post" enctype="multipart/form-data"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" placeholder="请输入标题" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">涉及城市</label>
                        <div class="layui-input-block">
                            <script type="text/javascript" th:src="@{~/select/city_func.js}"></script>
                            <input id="btn_jobArea" type="text" placeholder="请选择涉及城市"  onclick="jobAreaSelect()" class="layui-input" lay-verify="required"/>
                            <input id="jobAreaID" type="hidden" name="workplace" value="" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">文章标签</label>
                        <div class="layui-input-block">
                            <input type="text" name="tags" placeholder="请输入文章标签" autocomplete="off" class="layui-input" lay-verify="required" id="tagValue">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">简章</label>
                        <div class="layui-input-block">
                            <!--<div class="layui-upload-drag" id="generalRegulation">-->
                                <!--<i class="layui-icon"></i>-->
                                <!--<p>点击上传，或将文件拖拽到此处</p>-->
                            <!--</div>-->
                            <input type="file" th:name="generalRegulation" style="padding-top: 10px">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">职位</label>
                        <div class="layui-input-block">
                            <tr th:each="professionalVo : ${professionalVoList}">
                                <input type="checkbox" th:name="professionalIds" th:value="${professionalVo.id}" th:title="${professionalVo.name}">
                            </tr>
                            <!--<input type="hidden" th:name="professionalIds">-->
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">添加</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
                </form>
            </div>
            <div class="layui-col-md3"></div>
        </div>
        <i class="layui-icon">&#xe60c;</i>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<!-- alpha div -->
<div id="maskLayer" style="display:none">
    <iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
    <div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
    <div id="drag">
        <h3 id="drag_h"></h3>
        <div id="drag_con"></div><!-- drag_con end -->
    </div>
</div><!-- maskLayer end -->
</div>
<!-- alpha div end -->
<div id="sublist" style="display:none"></div>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>-->
<script th:src="@{~/js/toastr.min.js}"></script>

<!--<script type="text/javascript" th:src="@{~/select/jquery.js}"></script>-->
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
            console.log([[${errorMessage}]]);
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
            toastr.cancel();
            console.log([[${message}]]);
        }
    +]*/
</script>
<script type="text/javascript">
    // 是否在数组内
    function in_array(needle, haystack) {
        if(typeof needle == 'string' || typeof needle == 'number') {
            for(var i in haystack) {
                if(haystack[i] == needle) {
                    return true;
                }
            }
        }
        return false;
    }
</script>
<!--<script>-->
    <!--layui.upload.render({-->
        <!--elem: '.generalRegulation'-->
        <!--,done: function(res, index, upload){-->
            <!--//获取当前触发上传的元素，一般用于 elem 绑定 class 的情况，注意：此乃 layui 2.1.0 新增-->
            <!--var item = this.item;-->
        <!--}-->
        <!--,error: function(){-->
            <!--//请求异常回调-->
        <!--}-->
        <!--,auto: false //选择文件后不自动上传-->
    <!--});-->
    <!--//拖拽上传-->
    <!--layui.upload.render({-->
        <!--elem: '#generalRegulation'-->
        <!--,url: '/enterprise/add-campus-recruitment-general-regulation'-->
        <!--,done: function(res){-->
            <!--console.log(res)-->
        <!--}-->
    <!--});-->
<!--</script>-->
<script type="text/javascript">
    //添加标签
    var tag = new Tag("tagValue");
    tag.initView();
</script>
<script>
    layui.form.on('submit(*)', function(data){
        console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
        console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
        console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
        console.log(data.field.professionalIds);
        if(data.field.generalRegulation == ""){
            toastr.error("简章不能为空");
            return false;
        }
        if(data.field.professionalIds == undefined){
            toastr.error("职位不能为空");
            return false;
        }
        return true; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
    });
    document.onkeypress = function(){
        if(event.keyCode == 13)
        {
            return  false;
        }
    }
</script>
</body>
</html>
