<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>完善企业信息</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/jquery-validation-1.14.0/demo/site-demos.css}">
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>
    <script th:src="@{~/js/toastr.min.js}"></script>
    <script>
        cities = new Object();
        cities[1]=new Array('北京市区', '北京市辖区');
        cities[2]=new Array('上海市区', '上海市辖区');
        cities[3]=new Array('天津市区', '天津市辖区');
        cities[4]=new Array('重庆市区', '重庆市辖区');
        cities[5]=new Array('哈尔滨市', '齐齐哈尔市', '黑河市', '大庆市', '伊春市', '鹤岗市', '佳木斯市', '双鸭山市', '七台河市', '鸡西市', '牡丹江市', '绥化市', '大兴安');
        cities[6]=new Array('长春市', '白城市', '松原市', '吉林市', '四平市', '辽源市', '通化市', '白山市', '延边朝鲜族自治州');
        cities[7]=new Array('沈阳市', '朝阳市', '阜新市', '铁岭市', '抚顺市', '本溪市', '辽阳市', '鞍山市', '丹东市', '大连市', '营口市', '盘锦市', '锦州市', '葫芦岛市');
        cities[8]=new Array('济南市', '聊城市', '德州市', '东营市', '淄博市', '潍坊市', '烟台市', '威海市', '青岛市', '日照市', '临沂市', '枣庄市', '济宁市', '泰安市', '莱芜市', '滨州地区', '菏泽地区');
        cities[9]=new Array('太原市', '大同市', '朔州市', '阳泉市', '长治市', '晋城市', '忻州地区', '吕梁地区', '晋中市', '临汾地区', '运城地区');
        cities[10]=new Array('西安市', '延安市', '铜川市', '渭南市', '咸阳市', '宝鸡市', '汉中市', '榆林市', '商洛地区', '安康地区');
        cities[11]=new Array('石家庄', '张家口市', '承德市', '秦皇岛市', '唐山市', '廊坊市', '保定市', '沧州市', '衡水市', '邢台市', '邯郸市');
        cities[12]=new Array('郑州市', '三门峡市', '洛阳市', '焦作市', '新乡市', '鹤壁市', '安阳市', '濮阳市', '开封市', '商丘市', '许昌市', '漯河市', '平顶山市', '南阳市', '信阳市', '省直辖行政单位', '周口地区', '驻马店地区');
        cities[13]=new Array('武汉市', '十堰市', '襄攀市', '荆门市', '孝感市', '黄冈市', '鄂州市', '黄石市', '咸宁市', '荆州市', '宜昌市', '省直辖行政单位', '恩施土家族苗族自治州', '襄樊市');
        cities[14]=new Array('长沙市', '张家界市', '常德市', '益阳市', '岳阳市', '株洲市', '湘潭市', '衡阳市', '郴州市', '永州市', '邵阳市', '怀化市', '娄底市', '湘西土家族苗族自治州');
        cities[15]=new Array('海口市', '三亚市', '省直辖行');
        cities[16]=new Array('南京市', '徐州市', '连云港', '宿迁市', '淮阴市', '盐城市', '扬州市', '泰州市', '南通市', '镇江市', '常州市', '无锡市', '苏州市');
        cities[17]=new Array('南昌市', '九江市', '景德镇市', '鹰潭市', '新余市', '萍乡市', '赣州市', '上饶地区', '抚州地区', '宜春地区', '吉安地区');
        cities[18]=new Array('广州市', '清远市', '韶关市', '河源市', '梅州市', '潮州市', '汕头市', '揭阳市', '汕尾市', '惠州市', '东莞市', '深圳市', '珠海市', '江门市', '佛山市', '肇庆市', '云浮市', '阳江市', '茂名市', '湛江市');
        cities[19]=new Array('南宁市', '桂林市', '柳州市', '梧州市', '贵港市', '玉林市', '钦州市', '北海市', '防城港市', '南宁地区', '百色地区', '河池地区', '柳州地区', '贺州地区');
        cities[20]=new Array('昆明市', '曲靖市', '玉溪市', '丽江地区', '昭通地区', '思茅地区', '临沧地区', '保山地区', '德宏傣族景颇族自治州', '怒江僳僳族自治州', '迪庆藏族自治州', '大理白族自治州', '楚雄彝族自治州', '红河哈尼族自治州', '文山壮族自治州', '西双版纳傣族自治州');
        cities[21]=new Array('贵阳市', '六盘水市', '遵义市', '毕节地区', '铜仁地区', '安顺地区', '黔东南苗族侗族自治地区', '黔南布依族苗族自治区', '黔西南布依族苗族自治州');
        cities[22]=new Array('成都市', '广元市', '绵阳市', '德阳市', '南充市', '广安市', '遂宁市', '内江市', '乐山市', '自贡市', '泸州市', '宜宾市', '攀枝花市', '巴中地区', '达川市', '资阳地区', '眉山地区', '雅安地区', '阿坝藏族羌族自治州', '甘孜藏族自治州', '凉山彝族自治州');
        cities[23]=new Array('呼和浩特', '包头市', '乌海市', '赤峰市', '呼伦贝尔盟', '兴安盟', '哲里木盟', '锡林郭勒盟', '乌兰察布盟', '鄂尔多斯市', '巴彦淖尔盟', '阿拉善盟');
        cities[24]=new Array('银川市', '石嘴山市', '吴忠市', '固原地区');
        cities[25]=new Array('兰州市', '嘉峪关市', '金昌市', '白银市', '天水市', '酒泉地区', '张掖地区', '武威地区', '庆阳地区', '平凉地区', '定西地区', '陇南地区', '临夏回族自治州', '甘南藏族自治州');
        cities[26]=new Array('西宁市', '海东地区', '西宁市', '海北藏族', '海南藏族', '黄南藏族', '果洛藏族', '玉树藏族', '海西蒙古');
        cities[27]=new Array('拉萨市', '那曲地区', '昌都地区', '林芝地区', '山南地区', '日喀则', '阿里地区');
        cities[28]=new Array('乌鲁木齐市', '克拉玛依市', '自治区直辖行政单位', '喀什地区', '阿克苏地区', '和田地区', '吐鲁番地区', '哈密地区', '克孜勒苏柯尔克孜', '博尔塔拉蒙古自治州', '昌吉回族自治州', '巴音郭楞蒙古自治州', '伊犁哈萨克自治州', '伊犁地区', '塔城地区', '阿勒泰地区');
        cities[29]=new Array('合肥市', '宿州市', '淮北市', '阜阳市', '蚌埠市', '淮南市', '滁州市', '马鞍山市', '芜湖市', '铜陵市', '安庆市', '黄山市', '六安市', '巢湖市', '池州地区', '宣城地区');
        cities[30]=new Array('杭州市', '湖州市', '嘉兴市', '舟山市', '宁波市', '绍兴市', '金华市', '台州市', '温州市', '丽水地区');
        cities[31]=new Array('福州市', '南平市', '三明市', '莆田市', '泉州市', '厦门市', '漳州市', '龙岩市', '宁德市');
        cities[32]=new Array('台北市', '基隆市', '台南', '台中', '高雄', '屏东', '南投', '云林', '新竹', '彰化', '苗栗', '嘉义', '花莲', '桃园', '宜兰', '台东', '金门', '马祖', '澎湖', '其它');
        cities[33]=['香港', '九龙', '新界'];
        cities[34]=['澳门'];
        cities[35]=[];
        function set_city(province, city) {
            var pv, cv;
            var i, ii;
            pv=province.value;
            cv=city.value;
            city.length=1;
            if(pv=='0') return;
            if(typeof(cities[pv])=='undefined') return;
            for(i=0; i<cities[pv].length; i++)
            {
                ii = i+1;
                city.options[ii] = new Option();
                city.options[ii].text = cities[pv][i];
                city.options[ii].value = cities[pv][i];
            }
        }
    </script>
</head>
<body style="padding: 60px">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">企业后台</a>
        </div>
        <div style="margin-right: 20px">
            <a th:href="@{/enterprise/login}" class="btn btn-default navbar-btn navbar-right">
                <span class="glyphicon glyphicon-off"></span>注销
            </a>
        </div>
    </div>
</nav>
<div>
    <form id="info_complete" class="form-horizontal" th:action="@{/enterprise/hr-info-complete}" method="post"
          enctype="multipart/form-data">
        <div class="alert alert-warning">
            <b>在您进入企业后台前请先完善以下信息（带*为必填）</b>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    公司名称
                </h3>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="control-label col-xs-2" for="fullname"><span class="text-danger">*</span> 公司全称</label>
                    <div class="col-xs-6">
                        <input type="text" id="fullname" class="form-control" name="fullname" maxlength="100"
                               placeholder="与企业营业执照名称相同">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="shortname">公司简称</label>
                    <div class="col-xs-6">
                        <input type="text" id="shortname" class="form-control" name="shortname" maxlength="50"
                               placeholder="2-4个汉字或4-8个英文">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="orgCode"><span class="text-danger">*</span> 机构代码</label>
                    <div class="col-xs-6">
                        <input type="text" id="orgCode" class="form-control" name="orgCode" maxlength="20"
                               placeholder="请输入公司营业执照上机构代码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="recommend"><span class="text-danger">*</span>
                        公司简介</label>
                    <div class="col-xs-6">
                            <textarea rows="3" cols="20" id="recommend" class="form-control" name="recommend"
                                      style="resize: none;">
                            </textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    公司类别
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="nature"><span class="text-danger">*</span> 公司性质</label>
                    <div class="col-xs-6">
                        <select id="nature" class="form-control" name="nature">
                            <option value="">请选择公司类型</option>
                            <option value="1">欧美外资</option>
                            <option value="2">非欧美外资</option>
                            <option value="3">欧美合资</option>
                            <option value="4">非欧美合资</option>
                            <option value="5">国企</option>
                            <option value="6">民营公司</option>
                            <option value="7">外企代表处</option>
                            <option value="8">政府机关</option>
                            <option value="9">事业单位</option>
                            <option value="10">非盈利机构</option>
                            <option value="11">其他性质</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="industryInvolved"><span class="text-danger">*</span>
                        所属行业子类</label>
                    <div class="col-xs-6">
                        <select id="industryInvolved" class="form-control" name="industryInvolved">
                            <option value="">请选择所属行业</option>
                            <optgroup label="IT信息">
                                <option value="1">计算机软件</option>
                                <option value="2">计算机硬件</option>
                                <option value="3">IT服务</option>
                                <option value="4">互联网</option>
                                <option value="5">电子商务</option>
                                <option value="6">游戏</option>
                                <option value="7">通信</option>
                                <option value="8">电子/半导体</option>
                            </optgroup>
                            <optgroup label="金融">
                                <option value="9">银行</option>
                                <option value="10">保险</option>
                                <option value="11">证券/基金/期货</option>
                                <option value="12">投资</option>
                            </optgroup>
                            <optgroup label="专业服务">
                                <option value="13">会计/审计</option>
                                <option value="14">人力资源</option>
                                <option value="15">管理咨询</option>
                                <option value="16">法律</option>
                                <option value="17">检测/认证</option>
                                <option value="18">翻译</option>
                            </optgroup>
                            <optgroup label="教育培训">
                                <option value="19">高等教育</option>
                                <option value="20">初中等教育</option>
                                <option value="21">培训</option>
                            </optgroup>
                            <optgroup label="消费品">
                                <option value="22">日用品/化妆品</option>
                                <option value="23">食品/饮料</option>
                                <option value="24">服装/纺织</option>
                                <option value="25">家电/数码产品</option>
                                <option value="26">奢侈品/珠宝</option>
                                <option value="27">家具/家居</option>
                                <option value="28">酒品</option>
                                <option value="29">烟草业</option>
                                <option value="30">办公用品</option>
                            </optgroup>
                            <optgroup label="文化传媒">
                                <option value="31">广告/公关/会展</option>
                                <option value="32">报纸/杂志</option>
                                <option value="33">广播</option>
                                <option value="34">影视</option>
                                <option value="35">出版</option>
                                <option value="36">艺术/工艺</option>
                                <option value="37">体育</option>
                                <option value="38">动漫</option>
                            </optgroup>
                            <optgroup label="建筑/房地产">
                                <option value="39">建筑设计/规划</option>
                                <option value="40">土木工程</option>
                                <option value="41">房地产</option>
                                <option value="42">物业管理</option>
                                <option value="43">建材</option>
                                <option value="44">装修装潢</option>
                            </optgroup>
                            <optgroup label="贸易物流">
                                <option value="45">进出口</option>
                                <option value="46">批发/零售</option>
                                <option value="47">商店/超市</option>
                                <option value="48">物流/仓储</option>
                                <option value="49">运输/铁路/航空</option>
                            </optgroup>
                            <optgroup label="制造工业">
                                <option value="50">化工</option>
                                <option value="51">原材料/加工</option>
                                <option value="52">新材料</option>
                                <option value="53">汽车</option>
                                <option value="54">机械/自动化</option>
                                <option value="55">军工/国防</option>
                                <option value="56">采矿/金属</option>
                                <option value="57">原油/能源</option>
                                <option value="58">造纸</option>
                                <option value="59">印刷/包装</option>
                                <option value="60">航天/造船</option>
                            </optgroup>
                            <optgroup label="医疗/卫生">
                                <option value="61">医疗/护理</option>
                                <option value="62">医疗器械</option>
                                <option value="63">生物技术</option>
                                <option value="64">医药</option>
                                <option value="65">动物医疗</option>
                            </optgroup>
                            <optgroup label="服务业">
                                <option value="66">酒店</option>
                                <option value="67">餐饮</option>
                                <option value="68">旅游</option>
                                <option value="69">休闲/娱乐/健身</option>
                                <option value="70">私人/家政服务</option>
                                <option value="71">图书馆/展览馆</option>
                            </optgroup>
                            <optgroup label="其他">
                                <option value="72">环境</option>
                                <option value="73">农/林/牧/渔</option>
                                <option value="74">研究所/研究院</option>
                                <option value="75">公共事业</option>
                                <option value="76">非营利组织</option>
                            </optgroup>
                            <optgroup label="政府部门">
                                <option value="77">政府部门</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="workerNumber"><span class="text-danger">*</span>
                        公司规模</label>
                    <div class="col-xs-6">
                        <select id="workerNumber" class="form-control" name="workerNumber">
                            <option value="">请选择员工人数</option>
                            <option value="1">50人以下</option>
                            <option value="2">50-150人</option>
                            <option value="3">150-500人</option>
                            <option value="4">500-1000人</option>
                            <option value="5">1000-5000人</option>
                            <option value="6">5000-10000人</option>
                            <option value="7">10000人以上</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    联络信息
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-xs-2" for="name"><span class="text-danger">*</span> 联系人(姓名)</label>
                    <div class="col-xs-6">
                        <input type="text" id="name" class="form-control" name="name" value="" maxlength="25"
                               placeholder="请务必填写真实姓名">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="phone"><span class="text-danger">*</span> 手机号码</label>
                    <div class="col-xs-6">
                        <input type="text" id="phone" class="form-control" name="phone" maxlength="20"
                               placeholder="请务必填写正确的手机号码">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="telephone"><span class="text-danger">*</span>
                        公司座机</label>
                    <div class="col-xs-6">
                        <input type="text" id="telephone" class="form-control" name="telephone" maxlength="20"
                               placeholder="请务必填写正确的公司座机号">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="homepageUrl">官方网站</label>
                    <div class="col-xs-6">
                        <input type="text" id="homepageUrl" class="form-control" name="homepageUrl" maxlength="50"
                               placeholder="">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    位置信息
                </h3>
            </div>
            <div class="panel-body">
                <div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="province"><span class="text-danger">*</span>
                            公司所在地</label>
                        <div class="col-xs-6">
                            <select id="province" class="form-control" name="province" onchange="set_city(this, document.getElementById('city'));">
                                <option value="">请选择省份</option>
                                <option value="1">北京市</option>
                                <option value="2">上海市</option>
                                <option value="3">天津市</option>
                                <option value="4">重庆市</option>
                                <option value="5">黑龙江省</option>
                                <option value="6">吉林省</option>
                                <option value="7">辽宁省</option>
                                <option value="8">山东省</option>
                                <option value="9">山西省</option>
                                <option value="10">陕西省</option>
                                <option value="11">河北省</option>
                                <option value="12">河南省</option>
                                <option value="13">湖北省</option>
                                <option value="14">湖南省</option>
                                <option value="15">海南省</option>
                                <option value="16">江苏省</option>
                                <option value="17">江西省</option>
                                <option value="18">广东省</option>
                                <option value="19">广西省</option>
                                <option value="20">云南省</option>
                                <option value="21">贵州省</option>
                                <option value="22">四川省</option>
                                <option value="23">内蒙古自治区</option>
                                <option value="24">宁夏自治区</option>
                                <option value="25">甘肃省</option>
                                <option value="26">青海省</option>
                                <option value="27">西藏自治区</option>
                                <option value="28">新疆自治区</option>
                                <option value="29">安徽省</option>
                                <option value="30">浙江省</option>
                                <option value="31">福建省</option>
                                <option value="32">台湾省</option>
                                <option value="33">香港</option>
                                <option value="34">澳门</option>
                                <option value="35">国外</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-xs-2" for="city"><span class="text-danger">*</span>
                            公司所在市</label>
                        <div class="col-xs-6">
                            <select id="city" class="form-control" name="city">
                                <option value="">请选择城市</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-2" for="address"><span class="text-danger">*</span> 公司地址</label>
                    <div class="col-xs-6">
                        <input type="text" id="address" class="form-control" name="address" maxlength="100"
                               placeholder="省份城市不用重复填写">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="postcode"><span class="text-danger">*</span> 邮编</label>
                    <div class="col-xs-6">
                        <input type="text" id="postcode" class="form-control" name="postcode" maxlength="50">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    营业执照
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <div class="alert alert-default" role="alert">
                            <p>请上传企业营业执照图片扫描件 &nbsp; 文件格式：.jpg/.jpeg &nbsp; 文件大小：2M以内</p>
                            <p>为加快审核速度，最好使用扫描件，保证工商印章清晰可见。</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2" for="license"><span class="text-danger">*</span> 营业执照</label>
                    <div class="col-xs-6">
                        <input type="file" id="license" name="license" accept="image/jpg, image/jpeg">
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    确认注册
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <div class="col-xs-8 col-xs-offset-4">
                                <p><strong>请确认以上信息正确无误</strong></p>
                                <p>
                                    <button type="submit" class="btn btn-primary">确认注册</button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<ul class="nav navbar-nav navbar-fixed-bottom" style="left: 43.5%">
    <li class="">
        <a th:href="@{/undergraduate/index}">首页</a>
    </li>
    <li class="">
        <a th:href="@{/undergraduate/campus-recruitment}">校招</a>
    </li>
    <li class="">
        <a th:href="@{/undergraduate/career-talk}">宣讲会</a>
    </li>
</ul>
</div>
<script th:src="@{~/jquery-validation-1.14.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{~/jquery-validation-1.14.0/dist/additional-methods.min.js}"></script>
<script th:inline="javascript">
    jQuery.validator.setDefaults({
        success: "valid",
        debug: false
    });
    // 公司简称验证
    jQuery.validator.addMethod("isShortname", function (value, element) {
        var regexChinese=/^[\u4E00-\u9FA5]{2,4}$/;
        var regexEnglish = /^[a-zA-Z]{4,8}$/;
        //无输入时为 T ,有输入时为 F
        return this.optional(element) || (regexChinese.test(value)) || (regexEnglish.test(value));
    }, "请正确填写您的公司简称");
    // 手机号码验证
    jQuery.validator.addMethod("isPhone", function(value, element) {
        var length = value.length;
        var mobile =/^[1][3-8]\d{9}/;
        return this.optional(element) || (length == 11 && mobile.test(value));
    }, "请正确填写您的手机号码");

    $("#info_complete").validate({
        errorPlacement: function (error, element) {
            error.insertAfter(element.parent());
            error.css("margin-top", "10px");
        },
        rules: {
            fullname:{
                required: true
            },
            shortname:{
                isShortname: true
            },
            orgCode:{
                required: true,
                digits:true
            },
            recommend:{
                required: true
            },
            nature:{
                required: true
            },
            industryInvolved:{
                required: true
            },
            workerNumber:{
                required: true
            },
            name:{
                required: true
            },
            phone:{
                required: true,
                isPhone: true
            },
            telephone:{
                required: true,
                digits:true
            },
            homepageUrl:{
                url:true
            },
            province:{
                required: true
            },
            city:{
                required: true
            },
            address:{
                required: true
            },
            postcode:{
                required: true,
                digits:true
            },
            license:{
                required: true
            }
        },
        messages: {
            fullname:{
                required: "公司名称不能为空"
            },
            orgCode:{
                required: "组织机构代码不能为空",
                digits:"请正确填写您的组织机构代码"
            },
            recommend:{
                required: "公司简介不能为空"
            },
            nature:{
                required: "请选择公司性质"
            },
            industryInvolved:{
                required: "请选择所属行业"
            },
            workerNumber:{
                required: "请选择员工人数"
            },
            name:{
                required: "公司联系人必填"
            },
            phone:{
                required: "公司联系电话必填"
            },
            telephone:{
                required: "公司座机不能为空",
                digits:"请正确填写您的公司座机"
            },
            homepageUrl:{
                url:"请正确填写您的公司官方网站"
            },
            province:{
                required: "省份必填"
            },
            city:{
                required: "市区必填"
            },
            address:{
                required: "地址必填"
            },
            postcode:{
                required: "邮编必填",
                digits:"请正确填写您的公司邮编"
            },
            license:{
                required: "营业执照必须上传"
            }
        }
    });
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.clear();
        }
    +]*/
</script>
</body>
</html>