<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>大学生求职网</title>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet" />
    <script th:src="@{~/js/toastr.min.js}"></script>

    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
</head>
<body style="padding: 100px">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="padding-top: 10px;">
        <div class="navbar-header">
            <img th:src="@{~/img/logo.png}" alt="通用的占位符缩略图" class="thumbnail" height="50px" width="150px"/>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                        广东 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pre-scrollable">
                        <li><a th:href="@{/undergraduate/campus-recruitment}">北京</a></li>
                        <li><a th:href="@{/undergraduate/campus-recruitment}">上海</a></li>
                        <li><a>广东</a></li>
                        <li><a>湖北</a></li>
                        <li><a>陕西</a></li>
                        <li><a>四川</a></li>
                        <li><a>江苏</a></li>
                        <li><a>安徽</a></li>
                        <li><a>山东</a></li>
                        <li><a>湖南</a></li>
                        <li><a>天津</a></li>
                        <li><a>河南</a></li>
                        <li><a>浙江</a></li>
                        <li><a>重庆</a></li>
                        <li><a>辽宁</a></li>
                        <li><a>福建</a></li>
                        <li><a>江西</a></li>
                        <li><a>吉林</a></li>
                        <li><a>黑龙江</a></li>
                        <li><a>河北</a></li>
                        <li><a>山西</a></li>
                        <li><a>云南</a></li>
                        <li><a>甘肃</a></li>
                        <li><a>广西</a></li>
                    </ul>
                </li>
                <li><a th:href="@{/undergraduate/campus-recruitment}">校招</a></li>
                <li><a th:href="@{/undergraduate/career-talk}">宣讲会</a></li>
            </ul>
            <div class="navbar-form navbar-left" style="margin-top: 5px">
                <form role="search">
                    <input type="text" class="form-control" placeholder="Search" style="margin-top: 7px">
                    <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
            <div th:if="${session.email ne null}" class='navbar-right'>
                <p th:text="'欢迎，' + ${session.email}" style="margin-right: 20px;margin-top: 20px"></p>
            </div>
            <div th:if="${session.email eq null}">
                <a class='btn btn-default navbar-btn navbar-right' th:href="@{/enterprise/index}" style="margin-right: 20px; margin-top: 13px">企业登录</a>
                <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal"
                        data-target="#myModal" style="margin-right: 20px; margin-top: 13px">
                    学生登录
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    账号登录
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" th:action="@{/undergraduate/login}" method="post" id="login">
                    <div class="col-sm-offset-2">
                        <label for="email" class="col-sm-2 control-label" style="text-align: center;margin-top: 8px">邮箱</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="请输入邮箱">
                        </div>
                    </div>
                    <br>
                    <div class="col-sm-offset-2">
                        <label for="password" class="col-sm-2 control-label" style="text-align: center;margin-top: 8px">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control password" id="password" name="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <br>
                    <div>
                        <input type="submit" class="btn btn-default col-sm-12" value="登录">
                    </div>
                    <br/>
                    <br/>
                    <a th:href="@{/undergraduate/find-password}">忘记密码 ?</a>
                </form>
            </div>
            <div class="modal-footer">
                <div>
                    <a class='btn btn-default col-sm-12' th:href="@{/undergraduate/register}">立即注册</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive" style="height: 20%;width: 100%"/>
            <div class="carousel-caption">美菱</div>
        </div>
        <div class="item">
            <img th:src="@{~/img/bi-gui-yuan.png}" alt="京东方" class="img-responsive" style="height: 20%;width: 100%"/>
            <div class="carousel-caption" s>京东方</div>
        </div>
        <div class="item">
            <img th:src="@{~/img/hai-kang-wei-shi.png}" alt="海康威视" class="img-responsive"
                 style="height: 20%;width: 100%"/>
            <div class="carousel-caption">海康威视</div>
        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">知名雇主品牌 <a href="//xyzp.haitou.cc/" class="pull-right glyphicon glyphicon-chevron-right">查看更多</a></h3>
    </div>
    <div class="panel-body">
        <table border="3">
            <tr>
                <td colspan="4"><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td colspan="4"><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
            </tr>
            <tr>
                <td colspan="2"><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td colspan="2"><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td colspan="2"><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td colspan="2"><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
            </tr>
            <tr>
                <td><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
                <td><img th:src="@{~/img/mei-ling.png}" alt="美菱" class="img-responsive"/></td>
            </tr>
        </table>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">热门宣讲会 <a th:href="@{/undergraduate/career-talk}" class="pull-right glyphicon glyphicon-chevron-right">查看更多</a></h3>
    </div>
    <div class="panel-body">
        <table class="layui-table"
               lay-data="{height:'full', url:'/undergraduate/list-career-talk', id:'test', even:true, text: {none: '您还未登录'}}"
               lay-filter="roles">
            <thead>
            <tr>
                <th lay-data="{align: 'center', field:'name', sort: true, unresize:true, rowspan: 2}">
                    公司标题
                </th>
                <th lay-data="{align: 'center', field:'school', width:120, sort: true, unresize:true, rowspan: 2}">
                    举办学校
                </th>
                <th lay-data="{align: 'center', colspan: 2, unresize:true}">举办时间</th>
                <th lay-data="{align: 'center', field:'location', width:120, unresize:true, rowspan: 2}">举办地点</th>
                <!--<th lay-data="{align: 'center', field:'createTime', width:200, sort: true, unresize:true, rowspan: 2}">-->
                    <!--发布时间-->
                <!--</th>-->
                <th lay-data="{align: 'center', field:'hits', width:100, sort: true, unresize:true, rowspan: 2}">
                    点击量
                </th>
                <th lay-data="{align: 'center', field:'operationType', width:120, sort: true, unresize:true, rowspan: 2}">
                    操作
                </th>
            </tr>
            <tr>
                <th lay-data="{align: 'center', field:'startTime', width:200, sort: true, unresize:true}">
                    开始时间
                </th>
                <th lay-data="{align: 'center', field:'endTime', width:200, sort: true, unresize:true}">
                    结束时间
                </th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">热门校招网申 <a th:href="@{/undergraduate/campus-recruitment}" class="pull-right glyphicon glyphicon-chevron-right">查看更多</a></h3>
    </div>
    <div class="panel-body">
        <table class="layui-table"
               lay-data="{height:'full', url:'/undergraduate/list-campus-recruitment', id:'test', even:true, text: {none: '您还未登录'}}"
               lay-filter="roles">
            <thead>
                <tr class="layui-colla-item">
                    <th lay-data="{align: 'center', field:'title', unresize:true}">公司标题</th>
                    <th lay-data="{align: 'center', field:'professionalVoList', unresize:true, templet: '#job_name_s'}">招聘职位</th>
                    <th lay-data="{align: 'center', field:'workplace', width:200, unresize:true}">涉及城市</th>
                    <th lay-data="{align: 'center', field:'releaseTime', width:200, sort: true, unresize:true}">发布时间</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script th:inline="javascript">
    jQuery.validator.setDefaults({
        success: "valid",
        debug: false
    });
    $("#login").validate({
        errorPlacement: function(error, element) {
            error.insertAfter(element.parent());
            error.css("margin-top", "10px");
        },
        rules: {
            email:{
                required : true
            },
            password: {
                required : true,
                rangelength:[5,10]
            }
        },
        messages:{
            email:{
                required : "请输入新邮箱"
            },
            password: {
                required : "请输入密码",
                rangelength : "长度介于 {0} 和 {1} 之间"
            }
        }
    });
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
</script>
<script th:inline="javascript" type="text/html" id="job_name_s">
    {{#
    var jobNames = '';
    layui.each(d.professionalVoList, function(index, item){
    jobNames = jobNames + item.name;
    jobNames = jobNames + ',';
    });
    return jobNames.substr(0, jobNames.length-1);
    }}
</script>
</body>
</html>