<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>大学生求职网</title>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{~/jquery-validation-1.14.0/demo/site-demos.css}">
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet" />
    <script th:src="@{~/js/toastr.min.js}"></script>

    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>

</head>
<body style="padding: 100px">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid" style="padding-top: 10px;">
        <div class="navbar-header">
            <img th:src="@{~/img/logo-b.png}" alt="通用的占位符缩略图" height="50px" width="150px"/>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span id="select_province_span">北京</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu pre-scrollable">
                        <tr th:each="province : ${session.provinces}">
                            <li>
                                <a th:href="'javascript:selectProvince('+${province.type}+')'"><span th:text="${province.name}"></span></a>
                            </li>
                        </tr>
                    </ul>
                </li>
                <li><a th:href="@{/visitor/campus-recruitment}">校招</a></li>
                <li><a th:href="@{/visitor/career-talk}">宣讲会</a></li>
            </ul>
            <div class="navbar-form navbar-left" style="margin-top: 5px">
                <form role="search" th:action="@{/visitor/search}" method="post">
                    <input type="text" class="form-control" placeholder="搜索 宣讲会/公司/职位" style="margin-top: 7px" name="key">
                    <button type="submit" class="btn btn-default" style="margin-top: 5px">提交</button>
                </form>
            </div>
            <div th:if="${session.undergraduatePo ne null}">
                <div th:if="${session.undergraduatePo ne null}">
                    <ul class="nav navbar-nav navbar-right" style="margin-right: 20px">
                        <li class="layui-nav-item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span th:text="'hi, ' + ${session.undergraduatePo.email}"></span><b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/undergraduate/personal-center}">个人中心</a></li>
                                <li><a th:href="@{/undergraduate/logout}">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div th:if="${session.undergraduatePo eq null}">
                <a class='btn btn-default navbar-btn navbar-right' th:href="@{/enterprise/index}" style="margin-right: 20px; margin-top: 13px">企业登录</a>
                <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal"
                        data-target="#myModal" style="margin-right: 20px; margin-top: 13px">
                    学生登录
                </button>
            </div>
        </div>
    </div>
</nav>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title text-center" id="myModalLabel">
                    账号登录
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" th:action="@{/visitor/login}" method="post" id="login">
                    <div class="col-sm-offset-2">
                        <label for="email" class="col-sm-2 control-label" style="text-align: center;margin-top: 8px">邮箱</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="email" name="email" placeholder="请输入邮箱">
                        </div>
                    </div>
                    <br>
                    <div class="col-sm-offset-2">
                        <label for="password" class="col-sm-2 control-label" style="text-align: center;margin-top: 8px">密码</label>
                        <div class="col-sm-6">
                            <input type="password" class="form-control password" id="password" name="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <br>
                    <div>
                        <input type="submit" class="btn btn-default col-sm-12" value="登录">
                    </div>
                    <br/>
                    <br/>
                    <a th:href="@{/visitor/find-password}">忘记密码 ?</a>
                </form>
            </div>
            <div class="modal-footer">
                <div>
                    <a class='btn btn-default col-sm-12' th:href="@{/visitor/register}">立即注册</a>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">搜索类别：<a th:href="@{/visitor/career-talk}">宣讲会</a></h3>
    </div>
    <div class="panel-body">
        <table class="layui-table" id="career_talk_table">
        </table>
    </div>
</div>
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">搜索类别：<a th:href="@{/visitor/campus-recruitment}">校园招聘</a></h3>
    </div>
    <div class="panel-body">
        <table class="layui-table" id="campus_recruitment_table">
        </table>
    </div>
</div>
<script th:src="@{~/jquery-validation-1.14.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{~/jquery-validation-1.14.0/dist/additional-methods.min.js}"></script>

<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>

<script th:inline="javascript">
    jQuery.validator.setDefaults({
        success: "valid",
        debug: false
    });
    $("#login").validate({
        errorPlacement: function(error, element) {
            error.insertAfter(element.parent());
            error.css("margin-top", "10px");
        },
        rules: {
            email:{
                required : true
            },
            password: {
                required : true,
                rangelength:[5,10]
            }
        },
        messages:{
            email:{
                required : "请输入新邮箱"
            },
            password: {
                required : "请输入密码",
                rangelength : "长度介于 {0} 和 {1} 之间"
            }
        }
    });
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
    var carousel = layui.carousel;
    //建造实例
    carousel.render({
        elem: '#test1'
        ,width: '100%' //设置容器宽度
        ,arrow: 'always' //始终显示箭头
        //,anim: 'updown' //切换动画方式
    });
</script>
<script th:inline="javascript" type="text/html" id="job_name_s">
    {{#
    var jobNames = '';
    layui.each(d.professionalVoList, function(index, item){
    jobNames = jobNames + item.name;
    jobNames = jobNames + ',';
    });
    return jobNames.substr(0, jobNames.length-1);
    }}
</script>
<script th:inline="javascript">
    function selectProvince(provinceType){
//        alert(provinceName);
//        alert(provinceType);
        window.location.href = 'http://localhost:8080/visitor/index?province=' + provinceType;
    }
    $("#select_province_span").text([[${session.province.name}]]);
    //第一个实例
    layui.table.render({
        elem: '#career_talk_table',
        height:'full',
        url:'/visitor/list-career-talk-by-dto',
        even:true,
        cols: [[ //表头
            {align: 'center', field:'name', sort: true, unresize:true, rowspan: 2, title: '公司标题'},
            {align: 'center', field:'school', width:120, sort: true, unresize:true, rowspan: 2, title: '举办学校'},
            {align: 'center', colspan: 2, unresize:true, title: '举办时间'},
            {align: 'center', field:'location', width:120, unresize:true, rowspan: 2, title: '举办地点'},
            {align: 'center', field:'hits', width:100, sort: true, unresize:true, rowspan: 2, title: '点击量'},
            {align: 'center', field:'createTime', width:200, sort: true, unresize:true, rowspan: 2, title: '发布时间'}
        ],[
            {align: 'center', field:'startTime', width:200, sort: true, unresize:true, title: '开始时间'},
            {align: 'center', field:'endTime', width:200, sort: true, unresize:true, title: '结束时间'}
        ]],
        where: {
            province: [[${session.province.type}]],
            key: [[${key}]]
        }
    });
    //第一个实例
    layui.table.render({
        elem: '#campus_recruitment_table',
        height:'full',
        url:'/visitor/list-campus-recruitment-by-dto',
        even:true,
        cols: [[ //表头
            {align: 'center', field:'title', unresize:true, title: '公司标题'},
            {align: 'center', field:'professionalVoList', unresize:true, templet: '#job_name_s', title: '招聘职位'},
            {align: 'center', field:'workplace', width:200, unresize:true, title: '涉及城市'},
            {align: 'center', field:'releaseTime', width:200, sort: true, unresize:true, title: '发布时间'}
        ]],
        where: {
            province: [[${session.province.type}]],
            key: [[${key}]]
        }
    });
</script>
</body>
</html>