<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的收藏</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>

</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="undergraduate_header :: undergraduate_header"></div>
    <div th:replace="undergraduate_personal_center_nav_tree :: undergraduate_personal_center_nav_tree"></div>


    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-card">
                <div class="layui-card-header">
                    <h1>收藏记录</h1>
                </div>
                <div class="layui-card-body">
                    <table class="layui-table"
                           lay-data="{height:'full', url:'/undergraduate/list-collect', page:true, id:'test', even:true}"
                           lay-filter="roles">
                        <thead>
                        <tr class="layui-colla-item">
                            <th lay-data="{align: 'center', field:'type', sort: true, unresize:true}">类型</th>
                            <th lay-data="{align: 'center', field:'enterpriseName', sort: true, unresize:true}">公司标题</th>
                            <th lay-data="{align: 'center', field:'collectTime', sort: true, unresize:true}">收藏时间</th>
                            <th lay-data="{align: 'center', toolbar: '#barDemo', unresize:true}">操作</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">详情</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">取消</a>
</script>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>-->
<script th:src="@{~/js/toastr.min.js}"></script>
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
            toastr.cancel();
        }
    +]*/
</script>
<script>
    //监听工具条
    layui.table.on('tool(roles)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        var layer = layui.layer;
        if (layEvent === 'del') {
            $.post("/undergraduate/delete-collect",
                {
                    collectId: data.id
                },
                function (data, status) {
                    if (data.message != null) {
                        toastr.success(data.message);
                    } else if (data.errorMessage != null) {
                        toastr.error(data.errorMessage);
                    }
                    layui.table.reload('test', {
                        url: '/undergraduate/list-collect'
                        , where: {} //设定异步数据接口的额外参数
                        //,height: 300
                        ,page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                });
        }else if(layEvent === 'detail'){
            if(data.type === '校招'){
                window.location.href = 'http://localhost:8080/visitor/get-campus-recruitment-by-id?campusRecruitmentId=' + data.campusRecruitmentId;
            }else if(data.type === '宣讲会'){
                window.location.href = 'http://localhost:8080/visitor/get-career-talk-by-id?careerTalkId=' + data.careerTalkId;
            }
        }
    });
</script>
</body>
</html>