<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
</head>
<head>
    <link rel="stylesheet" th:href="@{~/jquery-validation-1.14.0/demo/site-demos.css}">
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet" />
    <script th:src="@{~/js/toastr.min.js}"></script>
    <title>学生注册</title>
</head>
<body style="padding: 100px">
<div style="float: none; display: inline-block; vertical-align: middle; horiz-align: center"
     class="col-md-8 col-sm-offset-2 text-center">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/visitor/index}">大学生求职网</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            旗下平台 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/visitor/campus-recruitment}">校招</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/visitor/career-talk}">宣讲会</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/visitor/index}">返回首页</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <img th:src="@{~/img/logo.png}" alt="通用的占位符缩略图"/>
    </div>
    <div class="col-sm-12">
        <form role="form" class="form-horizontal" id="register" th:action="@{/visitor/add}" method="post">
            <div class="col-sm-offset-3 ">
                <div class="col-sm-8">
                    <input type="email" class="col-xs-11 input" id="email" name="email" placeholder="请输入邮箱">
                </div>
            </div>
            <br>
            <div class="col-sm-offset-3 ">
                <div class="col-sm-8">
                    <input class="col-xs-8 input" type="text" id="code" name="code" placeholder="请输入验证码">
                    <input type="button" class="btn btn-default col-xs-3" style="margin-left: 1px" id="acquire" value="获取">
                </div>
            </div>
            <br>
            <div class="col-sm-offset-3">
                <div class="col-sm-8">
                    <input type="password" class="col-xs-11 input password" id="password" name="password" placeholder="请输入新密码(长度在5到10之间)">
                </div>
            </div>
            <br>
            <div class="col-sm-offset-3">
                <div class="col-sm-8">
                    <input type="password" class="col-xs-11 input" id="passworded" name="passworded" placeholder="请再次输入新密码">
                </div>
            </div>
            <div>
                <!--<button type="submit" class="btn btn-default col-sm-12">注册</button>-->
                <input type="submit" class="btn btn-default col-sm-12" value="注册">
            </div>
        </form>
        <br/>
        <br/>
        <div>
            <a class='btn btn-default col-sm-12' th:href="@{/visitor/login}">登录</a>
        </div>
        <br/>
        <br/>
        <div>
            <a class='btn btn-default col-sm-12' th:href="@{/enterprise/index}">企业注册入口</a>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-fixed-bottom" style="left: 43.5%">
        <li class="">
            <a th:href="@{/visitor/index}">首页</a>
        </li>
        <li class="">
            <a th:href="@{/visitor/campus-recruitment}">校招</a>
        </li>
        <li class="">
            <a th:href="@{/visitor/career-talk}">宣讲会</a>
        </li>
    </ul>
</div>
<script th:src="@{~/jquery-validation-1.14.0/dist/jquery.validate.min.js}"></script>
<script th:src="@{~/jquery-validation-1.14.0/dist/additional-methods.min.js}"></script>
<script th:inline="javascript">
    jQuery.validator.setDefaults({
        success: "valid",
        debug: false
    });
    $("#register").validate({
        errorPlacement: function(error, element) {
            error.insertAfter(element.parent().parent());
            error.css("margin-top", "10px");
        },
        rules: {
            email:{
                required : true,
                email:true
            },
            password: {
                required : true,
                rangelength:[5,10]
            },
            passworded: {
                required : true,
                equalTo: "#password"
            }
        },
        messages:{
            email:{
                required : "请输入新邮箱",
                email: "请输入一个有效的邮箱"
            },
            password: {
                required : "请输入新密码",
                rangelength : "长度介于 {0} 和 {1} 之间"
            },
            passworded: {
                required : "请再次输入新密码",
                equalTo : "请再次输入相同的值"
            }
        }
    });
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
    var email = document.getElementById("email");
    $("#acquire").click(function(){
        $.post("/visitor/register-acquire-code",
            {
                email:email.value
            },
            function(data,status){
                if (data.message != null) {
                    toastr.success(data.message);
                } else if (data.errorMessage != null) {
                    toastr.error(data.errorMessage);
                }
            });
    });
</script>
<style>
    input {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
</style>
</body>
</html>