<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
<div class="layui-header" th:fragment="undergraduate_header">
    <div class="layui-logo">
        <a th:href="@{/undergraduate/index}"><img th:src="@{~/img/logo.png}" alt="通用的占位符缩略图" width="100px"/></a>
    </div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
            <a href="javascript:;">
                广东
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">北京</a></dd>
                <dd><a>上海</a></dd>
                <dd><a>广东</a></dd>
                <dd><a>湖北</a></dd>
                <dd><a>陕西</a></dd>
                <dd><a>四川</a></dd>
                <dd><a>江苏</a></dd>
                <dd><a>安徽</a></dd>
                <dd><a>山东</a></dd>
                <dd><a>湖南</a></dd>
                <dd><a>天津</a></dd>
                <dd><a>河南</a></dd>
                <dd><a>浙江</a></dd>
                <dd><a>重庆</a></dd>
                <dd><a>辽宁</a></dd>
                <dd><a>福建</a></dd>
                <dd><a>江西</a></dd>
                <dd><a>吉林</a></dd>
                <dd><a>黑龙江</a></dd>
                <dd><a>河北</a></dd>
                <dd><a>山西</a></dd>
                <dd><a>云南</a></dd>
                <dd><a>甘肃</a></dd>
                <dd><a>广西</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/undergraduate/career-talk}">宣讲会</a>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/undergraduate/campus-recruitment}">校招网申</a>
        </li>
    </ul>
    <div th:if="${session.email eq null}">
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a th:href="@{/enterprise/index}">企业登录</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/undergraduate/login}">学生登录</a>
            </li>
        </ul>
    </div>
    <div th:if="${session.email ne null}">
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a >我的消息</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/undergraduate/personal-center}">我的简历</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <p th:text="'hi, ' + ${session.email}"></p>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/undergraduate/personal-center}">个人中心</a></dd>
                    <dd><a th:href="@{/undergraduate/logout}">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
</html>