<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
<div class="layui-header" th:fragment="undergraduate_header">
    <div class="layui-logo">
        <a th:href="@{/visitor/index}"><img th:src="@{~/img/logo.png}" alt="通用的占位符缩略图" width="100px"/></a>
    </div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <span id="select_province_span">北京</span>
            </a>
            <dl class="layui-nav-child">
                <tr th:each="province : ${session.provinces}">
                    <dd>
                        <a th:href="'javascript:selectProvince('+${province.type}+')'"><span
                                th:text="${province.name}"></span></a>
                    </dd>
                </tr>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/visitor/career-talk}">宣讲会</a>
        </li>
        <li class="layui-nav-item">
            <a th:href="@{/visitor/campus-recruitment}">校招网申</a>
        </li>
    </ul>
    <div th:if="${session.email eq null}">
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a th:href="@{/enterprise/index}">企业登录</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/visitor/login}">学生登录</a>
            </li>
        </ul>
    </div>
    <div th:if="${session.email ne null}">
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a th:href="@{/undergraduate/personal-center}">我的简历</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <p th:text="'hi, ' + ${session.email}"></p>
                </a>
                <dl class="layui-nav-child">
                    <dd><a th:href="@{/undergraduate/personal-center}">个人中心</a></dd>
                    <dd><a th:href="@{/undergraduate/logout}">退出登录</a></dd>
                </dl>
            </li>
        </ul>
    </div>
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <script th:inline="javascript">
        function selectProvince(provinceType) {
//        alert(provinceName);
//        alert(provinceType);
            window.location.href = 'http://localhost:8080/visitor/index?province=' + provinceType;
        }
//        alert([[${session.province.name}]]);
        /*[+
            if([[${session.province.name}]] != null){
                $("#select_province_span").text([[${session.province.name}]]);
            }else{
                window.location.href = 'http://localhost:8080/visitor/index';
            }
        +]*/
    </script>
</div>
</html>