<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <a th:href="@{/undergraduate/index}"><img th:src="@{~/img/logo.png}" alt="通用的占位符缩略图" width="100px"/></a>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    广东
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">北京</a></dd>
                    <dd><a>上海</a></dd>
                    <dd><a>广东</a></dd>
                    <dd><a>湖北</a></dd>
                    <dd><a>陕西</a></dd>
                    <dd><a>四川</a></dd>
                    <dd><a>江苏</a></dd>
                    <dd><a>安徽</a></dd>
                    <dd><a>山东</a></dd>
                    <dd><a>湖南</a></dd>
                    <dd><a>天津</a></dd>
                    <dd><a>河南</a></dd>
                    <dd><a>浙江</a></dd>
                    <dd><a>重庆</a></dd>
                    <dd><a>辽宁</a></dd>
                    <dd><a>福建</a></dd>
                    <dd><a>江西</a></dd>
                    <dd><a>吉林</a></dd>
                    <dd><a>黑龙江</a></dd>
                    <dd><a>河北</a></dd>
                    <dd><a>山西</a></dd>
                    <dd><a>云南</a></dd>
                    <dd><a>甘肃</a></dd>
                    <dd><a>广西</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/undergraduate/career-talk}">宣讲会</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/undergraduate/campus-recruitment}">校招网申</a>
            </li>
        </ul>
        <div th:if="${session.email eq null}">
            <ul class="layui-nav layui-layout-right">
                <a th:href="@{/enterprise/index}">企业登录</a>
                <a>学生登录</a>
            </ul>
        </div>
        <div th:if="${session.email ne null}">
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a >我的消息</a>
                </li>
                <li class="layui-nav-item">
                    <a >我的简历</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <p th:text="'hi, ' + ${session.email}"></p>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a>个人中心</a></dd>
                        <dd><a th:href="@{/undergraduate/logout}">退出登录</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a >我的简历</a>
                </li>
                <li class="layui-nav-item">
                    <a >简历投递记录</a>
                </li>
                <li class="layui-nav-item">
                    <a >我的收藏</a>
                </li>
                <li class="layui-nav-item">
                    <a >我的消息</a>
                </li>
                <li class="layui-nav-item">
                    <a >修改密码</a>
                </li>
                <li class="layui-nav-item">
                    <a >账号绑定</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="header">
                <h3 style="display: inline-block;">我的简历</h3>
                <span class="text-ellipsis" style="margin-left: 10px">完善的简历可提高求职成功率</span>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <span th:text="${resumeVo.name}"></span>
                    <span th:if="${resumeVo.acquiescence eq true}">
                        (默认)
                    </span>
                    <span th:text="${#dates.format(resumeVo.createTime,'yyyy-MM-dd')}"></span>
                    <!--<div class="layui-progress" lay-showPercent="true" lay-filter="demo">-->
                        <!--<div id="progressBar" class="layui-progress-bar" lay-percent="0%"></div>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        小名片
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="20%">
                            <col width="40%">
                            <col width="40%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td rowspan="4" align="center">
                                    <div th:if="${undergraduateVo.headUrl ne null}">
                                        <img th:src="@{'~/' + ${undergraduateVo.headUrl} }">
                                    </div>
                                    <div th:if="${undergraduateVo.headUrl eq null}">
                                        <img th:src="@{~/img/user-face-male.png}">
                                    </div>
                                </td>
                                <td>姓名：<span th:text="${undergraduateVo.name}"></span></td>
                                <td>毕业院校：<span th:text="${undergraduateVo.school}"></span></td>
                            </tr>
                            <tr>
                                <td>
                                    性别：
                                    <span th:if="${undergraduateVo.sex eq 1}">
                                        女
                                    </span>
                                    <span th:if="${undergraduateVo.sex eq 0}">
                                        男
                                    </span>
                                    <span th:if="${undergraduateVo.sex ne 0 and undergraduateVo.sex ne 1}">
                                        <span th:text="${undergraduateVo.sex}"></span>
                                    </span>
                                </td>
                                <td>专业院系：<span th:text="${undergraduateVo.profession}"></span></td>
                            </tr>
                            <tr>
                                <td>电话：<span th:text="${undergraduateVo.phone}"></span></td>
                                <td>
                                    最高学历：
                                    <span th:if="${undergraduateVo.educationBackground eq null}">
                                        <span th:text="${undergraduateVo.educationBackground}"></span>
                                    </span>
                                    <span th:if="${undergraduateVo.educationBackground ne null}">
                                        <span th:text="${undergraduateVo.educationBackground.name}"></span>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>邮箱：<span th:text="${undergraduateVo.email}"></span></td>
                                <td>毕业年份：<span th:text="${#dates.format(undergraduateVo.graduateYear,'yyyy-MM')}"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        基本信息
                        <a th:href="@{/undergraduate/resume-basic-update}" class="pull-right">
                            <i class="layui-icon">&#xe642;</i>编辑
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="layui-table">
                        <colgroup>
                            <col width="33%">
                            <col width="33%">
                            <col width="34%">
                        </colgroup>
                        <tbody>
                        <tr>
                            <td>名称 <span th:text="${resumeVo.name}"></span></td>
                            <td>
                                默认
                                <span th:switch="${resumeVo.acquiescence}">
                                    <span th:case="false">否</span>
                                    <span th:case="true">是</span>
                                </span>
                            </td>
                            <td>出生年月 <span th:text="${#dates.format(resumeVo.birthDate,'yyyy-MM-dd')}"></span></td>
                        </tr>
                        <tr>
                            <td>政治面貌 <span th:text="${resumeVo.politicsStatus.name}"></span></td>
                            <td colspan="2" id="origin"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        教育背景
                        <a class="pull-right" id="add_btn">
                            <i class="layui-icon">&#xe654;</i> 添加
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="layui-table" id="education_background_table" lay-filter="roles">
                    </table>
                </div>
            </div>
            <i class="layui-icon">&#xe60c;</i>
        </div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit" >编辑</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>-->
<script th:src="@{~/js/toastr.min.js}"></script>
<script th:src="@{~/js/AllSchool.js}"></script>
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    //    toastr.options.timeOut = "5000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
            toastr.cancel();
        }
    +]*/
//    alert(parseInt([[${resumeVo.province}]]));
//    alert(parseInt([[${resumeVo.city}]]));
//    alert(currentProvince);
//    alert(currentCity);
    window.onload = function () {
        var currentProvinceIndex = parseInt([[${resumeVo.province}]]) - 1;
        var currentProvince = province[currentProvinceIndex][1];
        var selectCity = [[${resumeVo.province}]];
        var citylist = city[selectCity];
        var cityArray = "";
        var currentCityKey = [[${resumeVo.city}]];
        var currentCity = "";
        for (var i = 0, len = citylist.length; i < len; i++) {
            cityArray = citylist[i];
            if(currentCityKey == cityArray[0]){
                currentCity = cityArray[1];
                break;
            }
        }
        $("#origin").html("籍贯 <span>" + currentProvince + "</span>-<span>" + currentCity + "</span>");
        function toPercent(point){
            var str=Number(point*100);
            str+="%";
            return str;
        }
//        alert(toPercent([[${resumeVo.completeness}]]));
//        $("#progressBar").setAttribute("lay-percent", toPercent([[${resumeVo.completeness}]]));
//        layui.element.progress('progressBar', toPercent([[${resumeVo.completeness}]]));
//        layui.element.animate({width:'80%'},500);
//        layui.element.render();
//        layui.element.init();
//        layui.element.progress('demo', '50%');
    }
</script>
<script th:inline="javascript">
    //监听工具条
    layui.table.on('tool(roles)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        var layer = layui.layer;
        if (layEvent === 'edit') {
            window.location.href = 'http://localhost:8080/undergraduate/update-resume-education-background?educationBackgroundId='+ data.id;
        } else if (layEvent === 'del') {
            layer.confirm('您真的要删除吗？', function (index) {
//                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                layer.close(index);
                //向服务端发送删除指令
                console.log(data.id);
                $.post("/undergraduate/delete-resume-education-background",
                    {
                        educationBackgroundId: data.id
                    },
                    function (data, status) {
                        if (data.message != null) {
                            toastr.success(data.message);
                            toastr.clear();
                        } else if (data.errorMessage != null) {
                            toastr.error(data.errorMessage);
                            toastr.clear();
                        }
                    });
                layui.table.reload('test', {
                    url: '/undergraduate/list-resume-education-background'
                    , where: {
                        resumeId: data.resumeId
                    } //设定异步数据接口的额外参数
                    //,height: 300
                });
            });
        }
    });
    layui.table.render({
        elem: '#education_background_table'
        ,url: '/undergraduate/list-resume-education-background' //数据接口
        ,page: true //开启分页
        ,even:true
        ,where: {
            resumeId: [[${resumeVo.id}]]
        }
        , id: 'test'
        ,cols:  [[ //标题栏
            {align: 'center', colspan: 2, unresize:true, title: '就读时间'} //rowspan即纵向跨越的单元格数
            ,{align: 'center', field:'school', sort: true, unresize:true, rowspan: 2, title: '学校'}
            ,{align: 'center', field:'profession', sort: true, unresize:true, rowspan: 2, title: '专业名称'} //colspan即横跨的单元格数，这种情况下不用设置field和width
            ,{align: 'center', field:'educationBackground', width:100, sort: true, unresize:true, rowspan: 2, title: '学历'}
            ,{align: 'center', field:'ranking', width:100, sort: true, rowspan: 2, unresize:true, title: '专业排名'}
            ,{align: 'center', field:'description', rowspan: 2, unresize:true, title: '专业描述'}
            ,{align: 'center', toolbar: '#barDemo', width:125, rowspan: 2, unresize:true, title: '操作'}
            ], [
            {align: 'center', field:'startTime', sort: true, unresize:true, title: '开始时间'}
            ,{align: 'center', field:'endTime', sort: true, unresize:true, title: '结束时间'}
        ]]
    });
    $(document).ready(function(){
        $("#add_btn").click(function(){
            window.location.href = 'http://localhost:8080/undergraduate/resume-education-background-add?resumeId='+ [[${resumeVo.id}]];
        });
    });
</script>
</body>
</html>