<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link th:href="@{~/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <link th:href="@{~/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet" type="text/css"/>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" th:src="@{~/bootstrap/js/bootstrap.min.js}"></script>
</head>
<head>
    <link rel="stylesheet" href="http://jqueryvalidation.org/files/demo/site-demos.css">
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet" />
    <script th:src="@{~/js/toastr.min.js}"></script>
    <title>学生登录</title>
</head>
<body style="padding: 100px">
<div style="float: none; display: inline-block; vertical-align: middle; horiz-align: center"
     class="col-md-8 col-sm-offset-2 text-center">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/visitor/index}">大学生求职网</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                            旗下平台 <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/visitor/campus-recruitment}">校招</a></li>
                            <li class="divider"></li>
                            <li><a th:href="@{/visitor/career-talk}">宣讲会</a></li>
                        </ul>
                    </li>
                    <li><a th:href="@{/visitor/index}">返回首页</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        <div class="thumbnail">
            <img th:src="@{~/img/logo.png}" alt="通用的占位符缩略图"/>
            <!--<img src="/img/logo.png"/>-->
            <div class="caption" style="text-align: center;">
                <h3>大学生求职搜索引擎</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <form role="form" class="form-horizontal" id="login" th:action="@{/visitor/entry}" method="post">
            <div class="col-sm-offset-2">
                <label for="email" class="col-sm-2 control-label" style="text-align: center;">邮箱</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" name="email" placeholder="请输入邮箱">
                </div>
            </div>
            <br>
            <div class="col-sm-offset-2">
                <label for="password" class="col-sm-2 control-label" style="text-align: center;">密码</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control password" id="password" name="password" placeholder="请输入密码">
                </div>
            </div>
            <br>
            <div>
                <input type="submit" class="btn btn-default col-sm-12" value="登录">
            </div>
        </form>
        <br/>
        <br/>
        <div class="text-right">
            <a th:href="@{/visitor/find-password}">忘记密码 ?</a>
        </div>
        <br/>
        <br/>
        <div>
            <a class='btn btn-default col-sm-12' th:href="@{/visitor/register}">立即注册</a>
        </div>
        <br/>
        <br/>
        <div>
            <a class='btn btn-default col-sm-12' th:href="@{/enterprise/index}">企业注册入口</a>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-fixed-bottom" style="left: 43.5%">
        <li class="">
            <a th:href="@{/visitor/index}">首页</a>
        </li>
        <li class="">
            <a th:href="@{/visitor/campus-recruitment}">校招</a>
        </li>
        <li class="">
            <a th:href="@{/visitor/career-talk}">宣讲会</a>
        </li>
    </ul>
</div>
<script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
<script src="http://jqueryvalidation.org/files/dist/additional-methods.min.js"></script>
<script th:inline="javascript">
    jQuery.validator.setDefaults({
        success: "valid",
        debug: false
    });
    $("#login").validate({
        errorPlacement: function(error, element) {
            error.insertAfter(element.parent().parent());
            error.css("margin-top", "10px");
        },
        rules: {
            email:{
                required : true,
                email:true
            },
            password: {
                required : true,
                rangelength:[5,10]
            }
        },
        messages:{
            email:{
                required : "请输入新邮箱",
                email: "请输入一个有效的邮箱"
            },
            password: {
                required : "请输入密码",
                rangelength : "长度介于 {0} 和 {1} 之间"
            }
        }
    });
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
        }
    +]*/
</script>
</body>
</html>