<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>查看招聘岗位</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>
</head>
<body class="layui-layout-body" style="padding: 15px;">
        <table class="layui-table">
            <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
            <tbody>
            <tr>
                <td>职位类别</td>
                <td><p th:text="${professionalVo.type}"></p></td>
            </tr>
            <tr>
                <td>招聘职位</td>
                <td><p th:text="${professionalVo.name}"></p></td>
            </tr>
            <tr>
                <td>招聘人数</td>
                <td><p th:text="${professionalVo.hiring}"></p></td>
            </tr>
            <tr>
                <td>学历要求</td>
                <td><p th:text="${professionalVo.educationBackground}"></p></td>
            </tr>
            <tr>
                <td>专业要求</td>
                <td><p th:text="${professionalVo.majorField}"></p></td>
            </tr>
            <tr>
                <td>工作地点</td>
                <td><p th:text="${professionalVo.workplace}"></p></td>
            </tr>
            <tr>
                <td>岗位职责</td>
                <td><p th:text="${professionalVo.sketch}"></p></td>
            </tr>
            <tr>
                <td>职位要求</td>
                <td><p th:text="${professionalVo.jobRequirement}"></p></td>
            </tr>
            </tbody>
        </table>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script th:src="@{~/js/toastr.min.js}"></script>
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
            console.log([[${errorMessage}]]);
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
            toastr.cancel();
            console.log([[${message}]]);
        }
    +]*/
</script>
</body>
</html>
