<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>添加招聘岗位</title>
    <link th:href="@{~/layui/css/layui.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{~/css/toastr.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/select/css.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{~/select/alpha.css}"/>

    <script type="text/javascript" th:src="@{~/select/drag.js}"></script>
    <script type="text/javascript" th:src="@{~/select/city_arr.js}"></script>
    <script type="text/javascript" th:src="@{~/select/nationality_arr.js}"></script>
    <script type="text/javascript" th:src="@{~/select/funtype_arr.js}"></script>
    <script type="text/javascript" th:src="@{~/select/industry_arr.js}"></script>
    <script type="text/javascript" th:src="@{~/select/major_arr.js}"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">企业后台</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <a class="" th:href="@{/enterprise/career-talk-index}">宣讲会</a>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">校招网申</a>
            </li>
            <li class="layui-nav-item">
                <a th:href="@{/enterprise/enterprise-professional-index}">招聘岗位</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span th:text="${session.userName}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/enterprise/logout}">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">宣讲会</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">校招网申</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/enterprise/enterprise-professional-index}">招聘岗位</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div class="layui-row" style="padding: 15px;">
            <div class="layui-col-md9">
                <form class="layui-form" th:action="@{/enterprise/add-professional}" method="post"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
                    <div class="layui-form-item">
                        <label class="layui-form-label">职位类别</label>
                        <div class="layui-input-block">
                            <select name="type">
                                <tr th:each="jobCategoryType : ${jobCategoryType}">
                                    <option th:value="${jobCategoryType.type}"><span th:text="${jobCategoryType.name}"></span></option>
                                </tr>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">招聘职位</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" placeholder="请输入招聘职位" autocomplete="off" class="layui-input" lay-verify="required">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">招聘人数</label>
                        <div class="layui-input-block">
                            <input type="text" name="hiring" placeholder="请输入招聘人数" autocomplete="off" class="layui-input" lay-verify="required|number" >
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">学历要求</label>
                        <div class="layui-input-block">
                            <select name="educationBackground">
                                <tr th:each="educationBackgroundType : ${educationBackgroundType}">
                                    <option th:value="${educationBackgroundType.type}"><span th:text="${educationBackgroundType.name}"></span></option>
                                </tr>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">专业要求</label>
                        <div class="layui-input-block">
                            <script type="text/javascript" th:src="@{~/select/major_func.js}"></script>
                            <input id="btn_MajorID_2" type="text" placeholder="请选择专业" onclick="majorSelect_2()" class="layui-input" lay-verify="required"/>
                            <input id="MajorID_2" type="hidden" name="majorField" value="" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">工作地点</label>
                        <div class="layui-input-block">
                            <script type="text/javascript" th:src="@{~/select/city_func.js}"></script>
                            <input id="btn_jobArea" type="text" placeholder="请选择工作地点"  onclick="jobAreaSelect()" class="layui-input" lay-verify="required"/>
                            <input id="jobAreaID" type="hidden" name="workplace" value="" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">岗位职责</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入岗位职责" class="layui-textarea" name="sketch" style="resize: none;" lay-verify="required"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">职位要求</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入职位要求" class="layui-textarea" name="jobRequirement" style="resize: none;" lay-verify="required"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="*">添加</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
                </form>
            </div>
            <div class="layui-col-md3"></div>
        </div>
        <i class="layui-icon">&#xe60c;</i>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<!-- alpha div -->
<div id="maskLayer" style="display:none">
    <iframe id="maskLayer_iframe" frameBorder=0 scrolling=no style="filter:alpha(opacity=50)"></iframe>
    <div id="alphadiv" style="filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5"></div>
    <div id="drag">
        <h3 id="drag_h"></h3>
        <div id="drag_con"></div><!-- drag_con end -->
    </div>
</div><!-- maskLayer end -->
</div>
<!-- alpha div end -->
<div id="sublist" style="display:none"></div>
<script type="text/javascript" th:src="@{~/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{~/js/jquery-3.3.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>-->
<script th:src="@{~/js/toastr.min.js}"></script>

<!--<script type="text/javascript" th:src="@{~/select/jquery.js}"></script>-->
<script th:inline="javascript">
    toastr.options.positionClass = 'toast-top-center';
    toastr.options.timeOut = "1000";
    /*[+
        if([[${errorMessage}]] != null){
            toastr.error([[${errorMessage}]]);
            toastr.cancel();
            console.log([[${errorMessage}]]);
        }
    +]*/
    /*[+
        if([[${message}]] != null){
            toastr.success([[${message}]]);
            toastr.cancel();
            console.log([[${message}]]);
        }
    +]*/
</script>
<script type="text/javascript">
    // 是否在数组内
    function in_array(needle, haystack) {
        if(typeof needle == 'string' || typeof needle == 'number') {
            for(var i in haystack) {
                if(haystack[i] == needle) {
                    return true;
                }
            }
        }
        return false;
    }
</script>
</body>
</html>
